<form class="ui inverted blue segment form " action="/dashboard/addguide" method="POST">
  <div class="field">
    <label>Name</label>
    <input placeholder="Name" type="text" name="name">
  </div>
  <button class="ui circular big yellow inverted basic submit button">Add Guide</button>
</form>