<form class="ui inverted yellow segment form" action="/addmessage" method="POST">
  <label>Add Message...</label>
  <textarea type="text" name="message"> </textarea>
  <button class="ui circular blue submit button">Send</button>
</form>