
<form class="ui blue inverted stacked segment form" action="/guide/{{guide.id}}/addtitle" method="POST">
  <div class="four fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="title">
    </div>
    <div class="field">
      <label>Language</label>
      <input placeholder="Language" type="text" name="language">
    </div>

      <textarea type="text" name="summary">

      </textarea>


    <div class="field">
      <label>Site</label>
      <input placeholder="Website" type="text" name="site">
    </div>
    <div class="field">
      <label>Value</label>
      <input placeholder="**********/10" type="text" name="value">
    </div>


  </div>
  <button class="ui yellow circular submit button">Add Site</button>
</form>
