
{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui dividing blue header">
    MikesSites is now Code N Pic with Mick...
  </h1>
  <section class="ui yellow inverted segment">
  <p>
    Manage your favourite code-learning websites. We have included some of our favourites to get you started.
    And know you can also keep all you favourite photo's in one place.
  </p>
  <p>
    A guide resource represents a list of approved learning sites. 
    A guide is a collection of websites that can be viewed sequentially, added to and deleted. 
    MikesSites does not limit the number of guides that each user creates. 
    By default, guides are publicly visible to other users, but guides can be public or private.
  </p>
  <img src="https://cdn.gomix.com/2990e08c-0ee3-4698-bb73-da219ed0cbfa%2Fcookie_monster.png"</img>
  <div class ="ui inverted blue segment">
  <h2 = "ui center aligned segment">
  Currently containing...
  </h2>
    <div class ="ui horizontal list">
      <div class="item">
        <p>HTML</p>
      </div>
      <div class="item">
        <p>CSS</p>
      </div>
      <div class="item">
        <p>JavaScript</p>
      </div>
      <div class="item">
        <p>Java</p>
      </div>
      <div class="item">
        <p>Python</p>
      </div>
  
    </div>
  </div>
   </section>
</section>

<script>
  $("#{{id}}").addClass("active item");
</script>